.background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url('/src/assets/images/background/custom-welcome-background.webp');
}

.main {
  font-family: system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: var(--text);
  position: absolute;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 500px;
  margin-left: 150px;
}

.right {
  height: 100%;
}

.right :global(.CustomWearablePreview) {
  right: 8%;
}

.changeAccount {
  margin-top: 150px;
  border-top: 1px solid white;
  padding-top: 20px;
  width: 350px;
}

.changeAccount a {
  color: white;
  text-decoration: underline;
  font-size: 16px;
}

@media (max-width: 767px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: inherit;
    width: 100%;
    padding: 20px;
    margin-left: 0px;
  }
}
