/* Main styles */

.connection {
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.dclLogo {
  height: 40px;
  width: 40px;
  margin-bottom: 24px;
}

.title {
  margin-bottom: 56px;
  font-size: 30px;
}

/* Primary button styles */

.primaryButton:global(.ui.button.primary) {
  background-color: #ffffff;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.primaryImage {
  margin-right: 7.5px;
}

.primaryMessage {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 19px;
  gap: 6px;
}

.primaryMagic {
  background-image: url(../../assets/images/magic.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 66px;
  height: 24px;
}

.primaryLearnMore {
  text-decoration: underline;
  cursor: pointer;
}

/* Primary option buttons styles */

.primary + .primary {
  margin-top: 20px;
}

/* Show more styles */

.showMore {
  margin-top: 32px;
}

.showMoreButton:global(.ui.button.basic) {
  color: #ffffff !important;
  font-weight: bold;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 15px;
}

.showMoreSecondaryOptions {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px
}

.showMoreSecondaryOptions + .showMoreSecondaryOptions {
  margin-top: 24px;
}

/* Not showing? */

.primaryOption {
  width: 100%;
}

.secondaryOptionButton:global(.ui.button.primary) {
  min-width: 46px;
}

@media (max-width: 320px) {
  .showMoreSecondaryOptions {
      grid-template-columns: repeat(1, 1fr);
    }
  .secondaryOptionButton span :global(.ui.button.primary) {
    margin: auto
  }
}
