.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.background {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.main::before {
  content: '';
  position: fixed;
  width: 100%;
  height: 350%;
  background: radial-gradient(ellipse at 0 50%, transparent 10%, #e02dd3 40%, #491975 70%);
  top: -100%;
  transform: rotate(180deg);
  overflow: hidden;
  z-index: -1;
}

.content {
  width: 100%;
  max-width: 420px;
  z-index: 1;
  padding: 20px;
}

.successContainer {
  z-index: 1;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
}

.errorLogo {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-image: url('/src/assets/images/wrong.svg');
}

.logo {
  width: 40px;
  height: 40px;
  background-image: url('/src/assets/images/logo.svg');
}

.title {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  margin-top: 32px;
  color: white;
}

.description {
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
  margin-top: 16px;
  color: white;
}

@media screen and (max-width: 800px) {
  .main::before {
    background: radial-gradient(ellipse at 0 50%, #e02dd3 0%, #491975 70%);
  }
}
