:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100dvh;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
  min-height: 100%;
}
