.background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url('/src/assets/images/background.svg');
}

.background.emptyProfile {
  z-index: -1;
  background-image: url('/src/assets/images/background/image10.webp');
}

.background.emptyProfile::before {
  content: '';
  position: fixed;
  width: 100%;
  height: 350%;
  background: radial-gradient(ellipse at 0 50%, transparent 10%, #e02dd3 40%, #491975 70%);
  top: -100%;
  transform: rotate(180deg);
  overflow: hidden;
}

.main {
  font-family: system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: var(--text);
  position: absolute;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 500px;
  margin-left: 150px;
}

.right {
  height: 100%;
}

.right :global(.CustomWearablePreview) {
  right: 8%;
}

.changeAccount {
  margin-top: 150px;
  border-top: 1px solid white;
  padding-top: 20px;
  width: 350px;
}

.changeAccount a {
  color: white;
  text-decoration: underline;
  font-size: 16px;
}

.errorLogo {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-image: url('/src/assets/images/wrong.svg');
}

.logo {
  width: 40px;
  height: 40px;
  background-image: url('/src/assets/images/logo.svg');
}

.title {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  margin-top: 32px;
}

.description {
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
  margin-top: 16px;
}

.web2WalletDescription {
  margin-top: 16px;
  padding: 16px;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
}

.code {
  font-size: 100px;
  font-weight: 700;
  line-height: 121.02px;
  margin-top: 40px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 40px;
  z-index: 1;
}

.closeWindow {
  font-size: 16px;
  font-weight: 400;
  margin-top: 40px;
}

.errorMessage {
  padding: 15px;
  border-radius: 10px;
  margin-top: 30px;
  background-color: var(--primary);
  line-break: anywhere;
  color: white;
}

.noButton:global(.ui.button),
.noButton:global(.ui.button):hover,
.yesButton:global(.ui.button),
.yesButton:global(.ui.button):hover {
  background: white;
  color: black;
  display: flex;
}

.noButton:global(.ui.button) i {
  color: red;
  font-size: 20px;
}

.yesButton:global(.ui.button) i {
  color: green;
  font-size: 20px;
}

.communityBubble {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

@media (max-width: 767px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .errorMessage {
    padding: 15px;
    border-radius: 10px;
    margin-top: 30px;
    background-color: var(--primary);
    color: white;
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: inherit;
    width: 100%;
    padding: 20px;
    margin-left: 0px;
  }
}
