.background {
  position: fixed;
  height: 100%;
  width: 100%;
  background: url('/src/assets/images/background.svg') no-repeat center center fixed;
  background-size: cover;
}

.main {
  font-family: system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: var(--text);
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 30%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
}

:global(.WearablePreview) {
  background-color: unset;
  height: 80%;
  width: 100vh;
  transform: translateX(-40%);
}

.changeAccount {
  width: 100vh;
  transform: translateX(-40%);
  text-align: center;
}

.errorLogo {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-image: url('/src/assets/images/wrong.svg');
}

.logo {
  width: 40px;
  height: 40px;
  background-image: url('/src/assets/images/logo.svg');
}

.title {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  margin-top: 32px;
}

.description {
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
  margin-top: 16px;
}

.code {
  font-size: 100px;
  font-weight: 700;
  line-height: 121.02px;
  margin-top: 40px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 40px;
  z-index: 1;
}

.closeWindow {
  font-size: 16px;
  font-weight: 400;
  margin-top: 40px;
}

.errorMessage {
  padding: 15px;
  border-radius: 10px;
  width: 500px;
  margin-top: 30px;
  background-color: var(--primary);
  line-break: anywhere;
  color: white;
}
