.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  gap: 40px;
}

.infoModal :global(.dcl.modal-navigation) {
  padding: 0
}

:global(.ui.modal) > :global(.content).infoContent {
  margin: 60px;
}

.info {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoImage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 64px;
  width: 64px;
}

.assets {
  background-image: url('../../assets/images/handshine.svg');
}

.login {
  background-image: url('../../assets/images/signin.svg');
}

.infoModal .goBackButton:global(.ui.button.secondary) {
  color: white;
  box-shadow: none !important;
}
